  <header>
    <div>
      <ul>
        <li>Capital <span>$ <%= data[0].capital ? data[0].capital.toFixed(2) : 0 %></span></li>
        <li>Profit In #days<span>$ <%= data[0].profit ? data[0].profit.toFixed(2) : 0 %></span></li>
        <li>Total <span>$ <%= data[0].total ? data[0].total.toFixed(2) : 0 %></span></li>
      </ul>
    </div>
  </header>