<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="AItrade.css">
  <title>AItrade Login</title>
</head>
<body>
  <div class="container login">
    <h1>Login to AItrade admin</h1>

    <h2>Login to AItrade admin</h2>


    <form action="/admin/login" method="post">
      <ul>
        <li>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" required>
        </li>
        <li>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required>
        </li>
        <li>
          <input type="submit" value="Login" class="btn">
        </li>
      </ul>
    </form>
  </div>

  <footer>
    © 2024
  </footer>
</body>
</html>