<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/aitrade.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Withdrawal Success</title>
</head>
<body>
     <div class="sub-head"></div>
    
    <ul>
      <li class="logo-container">
        <img src="/image/logo-bg.webp" alt="AItrade Logo" class="logo">
      </li>
    </ul>
  </div>

  <header>
    <div class="header-info stats">
      <ul>
        
      </ul>
    </div>
  </header>
  <main class="container done">
        <h1>Customer Support</h1>
        <p>Email us at: Aitradcustomersupport@gmail.com</p>
        <p>Call Us (6am - 6pm daily) : 07063385860</p>
        <a href="/">Go to Home</a>
  </main>

  <footer>
    <ul class="footer-nav">
      <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
    <li><a href="/Support"><i class="fas fa-headset"></i> Support</a></li>
    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
  </footer>
</body>
</html>
